<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Charity Home || Charity and Donation HTML5 Template</title>

<!-- responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- master stylesheet -->
<link rel="stylesheet" href="../../resources/css/style.css" />
<!-- responsive stylesheet -->
<link rel="stylesheet" href="../../resources/css/responsive.css" />

</head>
<body>



	<nav class="mainmenu-area stricky">
		<div class="container">
			<div class="navigation pull-left">
				<div class="nav-header">
					<ul>
						<li class="dropdown"><a href="#">Home</a>
							<ul class="submenu">
								<li><a href="index.html">Home One</a></li>
								<li><a href="index2.html">Home Two</a></li>
							</ul></li>
						<li><a href="about.html">About</a></li>
						<li class="dropdown"><a href="#">Causes</a>
							<ul class="submenu">
								<li><a href="causes-grid.html">Causes Grid</a></li>
								<li><a href="causes-list.html">Causes List</a></li>
								<li><a href="causes-single.html">Single Cause</a></li>
							</ul></li>
						<li class="dropdown"><a href="#">Events</a>
							<ul class="submenu">
								<li><a href="events-grid.html">Events Grid</a></li>
								<li><a href="events-list.html">Events List</a></li>
								<li><a href="events-single.html">Event Single</a></li>
							</ul></li>
						<li class="dropdown"><a href="#">Volunteer</a>
							<ul class="submenu">
								<li><a href="volunteer-style-one.html">Volunteer Style
										One</a></li>
								<li><a href="volunteer-style-two.html">Volunteer Style
										Two</a></li>
								<li><a href="volunteer-profile.html">Volunteer Profile</a></li>
							</ul></li>
						<li class="dropdown"><a href="#">Gallery</a>
							<ul class="submenu">
								<li><a href="gallery-style-one.html">Gallery Style One</a></li>
								<li><a href="gallery-style-two.html">Gallery Style Two</a></li>
								<li><a href="gallery-style-three.html">Gallery Style
										Three</a></li>
							</ul></li>
						<li class="dropdown"><a href="#">Pages</a>
							<ul class="submenu">
								<li><a href="donations.html">Donation</a></li>
								<li><a href="faq.html">FAQ</a></li>
							</ul></li>
						<li class="dropdown"><a href="#">Blog</a>
							<ul class="submenu">
								<li><a href="blog-style-one.html">Blog Style One</a></li>
								<li><a href="blog-style-two.html">Blog Style Two</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="nav-footer">
					<button>
						<i class="fa fa-bars"></i>
					</button>
				</div>
			</div>
			<div class="search-box pull-right">
				<form action="#">
					<input type="text" placeholder="Search..." />
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</nav>
	<!-- /.mainmenu-area -->


	<section class="rev_slider_wrapper">
		<div id="slider1" class="rev_slider" data-version="5.0">
			<ul>
				<li data-transition="parallaxvertical"><img
					src="../../resources/img/music.jpeg" alt=""
					width="1920" height="705" data-bgposition="top center"
					data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" />
					<div class="tp-caption sfl tp-resizeme thm-banner-h1" data-x="left"
						data-hoffset="0" data-y="top" data-voffset="225"
						data-whitespace="nowrap" data-transform_idle="o:1;"
						data-transform_in="o:0" data-transform_out="o:0" data-start="500">

					</div>
					<div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
						data-x="left" data-hoffset="0" data-y="top" data-voffset="290"
						data-whitespace="nowrap" data-transform_idle="o:1;"
						data-transform_in="o:0" data-transform_out="o:0" data-start="1000">
						We need your support</div>
					<div class="tp-caption sfb tp-resizeme thm-banner-h3" data-x="left"
						data-hoffset="0" data-y="top" data-voffset="368"
						data-whitespace="nowrap" data-transform_idle="o:1;"
						data-transform_in="o:0" data-transform_out="o:0" data-start="1500">
						Became a part to change the world</div>

					<div class="tp-caption sfl tp-resizeme" data-x="left"
						data-hoffset="0" data-y="top" data-voffset="505"
						data-whitespace="nowrap" data-transform_idle="o:1;"
						data-transform_in="o:0" data-transform_out="o:0" data-start="2300">
						<a href="#" class="thm-btn">Donate Now</a>
					</div></li>

			</ul>
		</div>
	</section>































	<footer class="footer sec-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-widget about-widget">
						<a href="#"> <img src="../../resources/img/IFR.png"
							alt="Awesome Image" />
						</a>
						<p>Lorem ipsum dolor sit amet, eu me evert laboramus, iudico</p>
						<ul class="contact">
							<li><i class="fa fa-map-marker"></i> <span>60 Grant
									Ave. Carteret NJ 0708</span></li>
							<li><i class="fa fa-phone"></i> <span>(880)
									1723801729</span></li>
							<li><i class="fa fa-envelope-o"></i> <span>example@gmail.com</span></li>
						</ul>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget quick-links">
						<h3 class="title">Pages</h3>
						<ul>
							<li><a href="about.html">About Us</a></li>
							<li><a href="causes-grid.html">Causes</a></li>
							<li><a href="events-grid.html">Events</a></li>
							<li><a href="faq.html">Faq</a></li>
							<li><a href="blog-style-two.html">Archives</a></li>
							<li><a href="blog-style-one.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 latest-post col-sm-6">
					<div class="footer-widget latest-post">
						<h3 class="title">Latest News</h3>
						<ul>
							<li><span class="border"></span>
								<div class="content">
									<a href="blog-details.html">If you need a crown or lorem an
										implant you will pay it </a> <span>July 2, 2014</span>
								</div></li>
							<li><span class="border"></span>
								<div class="content">
									<a href="blog-details.html">If you need a crown or lorem an
										implant you will pay it </a> <span>July 2, 2014</span>
								</div></li>
							<li><span class="border"></span>
								<div class="content">
									<a href="blog-details.html">If you need a crown or lorem an
										implant you will pay it </a> <span>July 2, 2014</span>
								</div></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="footer-widget contact-widget">
						<h3 class="title">Contact Form</h3>
						<div id="content">

							
                [Content goes here]
           
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<section class="footer-bottom">
		<div class="container text-center">
			<p>
				Theme Created By <a href="#">TEMPLATE PATH</a> with love
			</p>
		</div>
	</section>


	<!-- main jQuery -->
	<script src="../../resources/js/jquery-1.11.1.min.js"></script>
	<!-- bootstrap -->
	<script src="../../resources/js/bootstrap.min.js"></script>
	<!-- bx slider -->
	<script src="../../resources/js/jquery.bxslider.min.js"></script>
	<!-- owl carousel -->
	<script src="../../resources/js/owl.carousel.min.js"></script>
	<!-- validate -->
	<script src="../../resources/js/jquery-parallax.js"></script>
	<!-- validate -->
	<script src="../../resources/js/validate.js"></script>
	<!-- mixit up -->
	<script src="../../resources/js/jquery.mixitup.min.js"></script>
	<!-- fancybox -->
	<script src="../../resources/js/jquery.fancybox.pack.js"></script>
	<!-- easing -->
	<script src="../../resources/js/jquery.easing.min.js"></script>
	<!-- circle progress -->
	<script src="../../resources/js/circle-progress.js"></script>
	<!-- appear js -->
	<script src="../../resources/js/jquery.appear.js"></script>
	<!-- count to -->
	<script src="../../resources/js/jquery.countTo.js"></script>
	<!-- gmap helper -->
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<!-- gmap main script -->
	<script src="../../resources/js/gmap.js"></script>

	<!-- isotope script -->
	<script src="../../resources/js/isotope.pkgd.min.js"></script>
	<!-- jQuery ui js -->
	<script src="../../resources/js/jquery-ui-1.11.4/jquery-ui.js"></script>

	<!-- revolution scripts -->

	<script src="../../resources/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="../../resources/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript"
		src="../../resources/revolution/js/extensions/revolution.extension.video.min.js"></script>


	<!-- thm custom script -->
	<script src="../../resources/js/custom.js"></script>


</body>
</html>